*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}




/////****這是頭頭****/////

header{
nav{
    background: #280E3B;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 50px;
    label.menu-btn{
        i{
            color: white;
            font-size: 22px;
            cursor: pointer;
            display: none;
        }
    }
    #click{
        display: none;
    }
    div.logo{
       
        img{
            width: 12vw;
            border-radius: 50%;
        }
    }
    ul{
        display: flex;
        list-style: none;
        li{
            margin: 0 10px;
            a{
                color: white;
                text-decoration: none;
                font-size: 18px;
                font-weight: 400;
                letter-spacing: 1px;
                padding: 8px 10px;
                border-radius: 5px;
                transition: all .3s ease;
                &:hover{
                   background-color: #632A7E;
                }
            }
            a.active{
                background-color: #632A7E;
            }
        }
    }

}
}


/////****這是身體****/////
section.banner{
    position: relative;
    width: 100%;
    height: 90vh;
    background-color: #aaa;
    background: linear-gradient(100deg, #632A7E 50%, transparent 50%) center center /100% 100%,
    url("../picture/sunrise-phu-quoc-island-ocean.jpg") right center / auto 100%
    ;
    background-repeat:no-repeat;
    
    div.container{
        height: 100vh;
        display: flex;
       
        div.txt{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-left: 2rem;
            color: white;
            flex-grow: 2.5;
           
            h1{
                font-size: 5rem;
                border-bottom: 3px solid white;
                font-weight: 600;
                margin: 2rem 0;
            }
            small{
                    font-size: 1.5rem;
                    font-weight: 100;
                    margin-bottom: 1rem;
                }
            p{
                font-size: 3rem;
                font-weight: 500;
                margin-top: 2rem;
            }
        }
       
    }
}

/////****這是尾巴****/////

footer{
     background: #280E3B;
        height: auto;
        width: 100%;
        color: #fff;
        
    div.footer-content{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       text-align: center;
       
       h3{
           font-size: 1.8rem;
           font-weight: 400;
           line-height: 3rem;
           margin-top: 1rem;
       }
       p{
          margin: 10px auto;
          line-height: 28px;
          font-size: 1.2rem;
       }
    }
    ul.socials{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0 3rem 0;
        li{
            margin: 0 10px;
            
            a{
                text-decoration: none;
                color: white;
               
               i{
                font-size: 25px;
                transition: all 0.3s ease;
                &:hover{
                    color: #A13E97;
                }
               }
               
                
            }
        }
    }
    div.footer-bottom{
        background: #280E3B;
        width: 100%;
        
        text-align: center;
        p{
            font-size: 1rem;
            word-spacing: 2px;
            text-transform: capitalize;
        }
    }
}


/////****開始調身體****/////
@media screen and (max-width:1160px){
    header{
        nav{
            div.logo{
                    img{
                        width: 13vw;
                    }
            }
        }
    }
}

@media screen and (max-width:1060px){
    header{
        nav{
            div.logo{
                    img{
                        width: 15vw;
                    }
            }
        }
    }
}


@media screen and (max-width:900px) {
      header{
          nav{
              label.menu-btn{
                i{
                    display: block;
                }
              }
              ul{
                  position: fixed;
                  top: 80px;
                  left: -100%;
                  background: #111;
                  height: 100vh;
                  width: 100%;
                  z-index: 1;
                  display: block;
                  text-align: center;
                  transition: all .3s ease;
                  li{
                      margin: 40px 0;
                     
                      a{
                          font-size: 20px;
                          
                          
                      }
                  }
              }
               #click:checked ~ ul{
             left: 0;
              }
               #click:checked ~ label.menu-btn i:before{
                  content: '\f00d';
              }
          }
      }
  
    }
  /////****這是身體****/////
  section.banner{
      height: 100vh;
      div.container{
          div.txt{
              h1{
                  font-size: 3rem;
              }
              small{
                  font-size: 1.3rem;
                  }
              p{
                  font-size: 2rem;
                  }
          }
      }
  }


@media screen and (max-width:800px){
    header{
        nav{
            div.logo{
                    img{
                        width: 20vw;
                    }
            }
        }
    }
}

@media screen and(max-width:690px) {
   header{
        nav{
            div.logo{
                    img{
                        width: 25vw;
                    }
            }
        }
    }
     section.banner{
      
      div.container{
          
          div.txt{
              h1{
                  font-size: 3rem;
              }
              small{
                  font-size: 1.3rem;
                  }
              p{
                  font-size: 2rem;
                  }
          }
      }
  }
}

@media screen and (max-width:450px){
    header{
        nav{
            div.logo{
                    img{
                        width: 30vw;
                    }
            }
        }
    }
}

@media screen and (max-width:376px){
    header{
        nav{
            div.logo{
                    img{
                        width: 35vw;
                    }
            }
        }
    }
}