*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}


header{
    background: #280E3B;
    nav{
        flex-wrap: wrap;
        display: flex;
        height: 13vh;
        align-items: center;
        div.logo{
            flex: 1 1 200px;
            margin: 1rem;
           a{
               
            img{
                width: 10vw;
                border-radius: 50%;
                
            }
            }
        }

        ul{
            margin-right: 5rem;
            display: flex;
            align-items: center;
           justify-content:space-around;
           flex: 4 1 500px;
           
            li{
                list-style-type: none;
                
                a{
                    text-decoration: none;
                    color: white;   
                
                }
                
            }
        }
    }
}
a.active{
                   color: #A13E97;
                    } 
section.banner{
    position: relative;
    width: 100%;
    height: 90vh;
    background-color: #aaa;
    background: linear-gradient(100deg, #632A7E 50%, transparent 50%) center center /100% 100%,
    url("../picture/sunrise-phu-quoc-island-ocean.jpg") right center / auto 100%
    ;
    background-repeat:no-repeat;
    
    div.container{
        height: 100vh;
        display: flex;
       
        div.txt{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-left: 2rem;
            color: white;
            flex-grow: 2.5;
           
            h1{
                font-size: 5rem;
                border-bottom: 3px solid white;
                font-weight: 600;
                margin: 2rem 0;
            }
            small{
                    font-size: 1.5rem;
                    font-weight: 100;
                    margin-bottom: 1rem;
                }
            p{
                font-size: 3rem;
                font-weight: 500;
                margin-top: 2rem;
            }
        }
       
    }
}

footer{
     background: #280E3B;
        height: auto;
        width: 100%;
        color: #fff;
        
    div.footer-content{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       text-align: center;
       
       h3{
           font-size: 1.8rem;
           font-weight: 400;
           line-height: 3rem;
           margin-top: 1rem;
       }
       p{
          margin: 10px auto;
          line-height: 28px;
          font-size: 1.2rem;
       }
    }
    ul.socials{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0 3rem 0;
        li{
            margin: 0 10px;
            
            a{
                text-decoration: none;
                color: white;
               
               i{
                font-size: 25px;
                transition: all 0.3s ease;
                &:hover{
                    color: #A13E97;
                }
               }
               
                
            }
        }
    }
    div.footer-bottom{
        background: #280E3B;
        width: 100%;
        
        text-align: center;
        p{
            font-size: 1rem;
            word-spacing: 2px;
            text-transform: capitalize;
        }
    }
}


    
   

@media screen and (max-width:850px) {
    header{
        nav{
            display: flex;
            width: 100%;
                div.logo{
                    flex:1 1 100px;
                    a{
                   img{
                    width: 15vw;
                }
                }
            }
            ul{
              
                flex: 9 1 400px;
            }
        
    }
  }

  section.banner{
      div.container{
          
          div.txt{
              h1{
                  font-size: 3rem;
              }
              small{
                  font-size: 1.3rem;
                  }
              p{
                  font-size: 2rem;
                  }
          }
      }
  }

}

@media screen and(max-width:650px) {
    header{
        nav{
            display: flex;
             flex-direction: column;
              align-items: center;
            height: 35vh;
            div.logo{
                display: none;
                img{
                   display: none;
                }
            }

            ul{
                flex-direction: column;
                width: 100%;
                
                
                li{
                     display: flex;
                    a{
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }

     section.banner{
      
      div.container{
          
          div.txt{
              h1{
                  font-size: 3rem;
              }
              small{
                  font-size: 1.3rem;
                  }
              p{
                  font-size: 2rem;
                  }
          }
      }
  }
}